.subCard a.nav-link, .subCard a.nav-link.active {
  padding: 0.25rem 0.5rem !important;
  border-bottom-color: black !important;
}

.details {
  height: 100% !important;

  > .card-header{
    border-bottom: 5px solid black;
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: var(--bs-border-radius) !important;

    &.pokeball{
      background-color: $pokePrimary;
    }

    &.greatball{
      background-color: $greatPrimary;
    }

    &.ultraball{
      background-color: $ultraPrimary;
    }

    &.masterball{
      background-color: $masterPrimary;
    }
  }

  .card-body{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;

    &:not(.movelist_body){
      border-bottom-left-radius: var(--bs-border-radius);
      border-bottom-right-radius: var(--bs-border-radius);
    }
  }

  .card-footer{
    background-color: $ballTertiary;
    border-bottom-left-radius: var(--bs-border-radius) !important;
  }
}